{% load static %}

<nav class="navbar bg-blue-100">
    <a class="btn btn-ghost text-xl">
        <img class="h-full" src="{% static 'img/vcm_logo_cropped.png' %}">
        Voices Carry Media
    </a>

    {% comment %} {% if user.is_authenticated %}
    <!-- User is authenticated: Show Logout button -->
    <c-base.navbar-item slug="account_logout">Logout</c-base.navbar-item>
    {% else %}
    <!-- User is not authenticated: Show Login and Register links -->
    <c-base.navbar-item slug="account_login">Login</c-base.navbar-item>
    <c-base.navbar-item slug="account_signup">Register</c-base.navbar-item>
    {% endif %} {% endcomment %}
    
    <c-base.navbar-item slug="index">Home</c-base.navbar-item>
    <c-base.navbar-item slug="demos">Demos</c-base.navbar-item>
    {% comment %} <c-base.navbar-item slug="services">Services</c-base.navbar-item>
    <c-base.navbar-item slug="about">About</c-base.navbar-item>
    <c-base.navbar-item slug="testimonials">Testimonials</c-base.navbar-item>
    <c-base.navbar-item slug="contact">Contact</c-base.navbar-item> {% endcomment %}


</nav>